.postItem {
    border-left: solid 1px rgb(104, 101, 101);
    display: flex;
    flex-direction: column;
    height: 355px;
    padding-right: 40px;
    padding-left: 40px;
}

.postTitle {
    font-weight: 800;
    font-size: 20px;
    width: 70%;
    margin-bottom: 10px;
}

.postImage {
    width: 100%;
    height: 200px;
}

.descriptionDiv {
    height: 80px;
}

.postDescription {
    font-size: 16px;
    color: rgb(42, 41, 41);
    margin-top: 5px;
}

.readMore {
    all: unset;
    color: black;
    font-weight: 600;
}

.authorDateDiv {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
}

.postAuthor {
    font-size: 14px;
    font-style: oblique;
    margin-bottom: 3px;
}

.postDate {
    font-size: 12px;
    color: rgb(61, 60, 60);
}