.modeToggle {
    display: flex;
    align-items: center;
    background-color: var(--foreground);
    position: absolute;
    z-index: 300;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 15px;
    gap: 5px;
    padding: 3px;
    box-shadow: var(--dropdown-box-shadow);
}

.modeToggle:hover {
    cursor: pointer;
}

.modeToggle span {
    color: var(--simple-text-reversed);
    height: 20px;
    font-weight: bold;
}