.blogContainer {
    padding-top: 7vh;
    padding-bottom: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postContent {
    width: clamp(280px, 60vw, 800px);
    white-space: pre-line;
    margin-bottom: 40px;
}

.postContent h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.postContent h3 {
    font-size: 1.5rem;
    margin-top: 30px;
}

.postContent img {
    width: clamp(280px, 60vw, 800px);
}

.postMetadata {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 5px;
    width: 300px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 10px;
}

.postMetadata h4 {
    font-style: italic;
    font-weight: 100;
}

.postMetadata h5 {
    font-weight: 300;
    font-style: italic;
}

.author {
    font-weight: 800;
}

.backTo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.backIcon {
    outline: red solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 32px;*/
}