.blogContainer {
    flex: 1;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-right: clamp(50px, 10vw, 600px);
    margin-left: clamp(50px, 10vw, 600px);
    display: flex;
    justify-content: center;
}

.postContent {
    max-width: 800px;
    white-space: pre-line;
    margin-bottom: 40px;
}

.postContent h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.postContent h3 {
    margin-top: 30px;
}

.postContent img {
    text-align: center;
    width: clamp(300px, 60vw, 800px);
}

.postMetadata {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 5px;
    width: 300px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 10px;
}

.postMetadata h4 {
    /*color: rgb(150, 120, 10);*/
    font-style: italic;
    font-weight: 100;
}

.postMetadata h5 {
    font-weight: 300;
    font-style: italic;
}

.author {
    font-weight: 800;
}