
.header {
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    border-bottom: 0.5rem solid black;
    background-color: whitesmoke;
    height: 100%;
    width: 100vw;
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 1em 0;
    gap: 0.5rem;
}

.title {
    font-size: 1.4rem;
}

.logo {
    font-size: 6rem;
}

.nav {
    height: 50%;
    width: 100%;
    margin-top: auto;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    list-style: none;
    height: 100%;   
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        border-bottom: none;
    }

    .logoDiv {
        height: 60%;
    }

    .title {
        font-size: 1.1rem;
    }

    .logo {
        font-size: 5rem;
    }

    .nav {
        height: 40%;
        border-top: 0.5rem solid black;
        background-color: #ffffff;
    }

    .nav ul {
        justify-content: center;
        align-items: start;
        gap: 4rem;
    }
}