.footer {
    grid-row: 3 / 4;
    position: relative;
    background-color: rgb(40, 39, 39);
    width: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: var(--footer-box-shadow);
}

.creator {
    font-size: 1.5rem;
}

.secondary {
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}

.githubIcon {
    width: 2rem;
    height: 2rem;
}