.footer {
    outline: solid blue 2px;
    grid-row: 3 / 4;
    position: relative;
    background-color: rgb(39, 36, 36);
    width: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.creator {
    font-size: 24px;
}

.secondary {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.githubIcon {
    width: 30px;
    height: 30px;
}