.selectedOption {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1rem;
    background-color: white;
    border: 1px solid rgb(208, 207, 207);
    border-radius: 7px;
    padding: 5px;
    height: 35px;
    width: 130px
}

.selectedOption:hover {
    cursor: pointer;
}

.dropdownIcon {
    position: absolute;
    right: 0px;
}

.focusedSelectedOption {
    cursor: pointer;
    background-color: rgb(73, 118, 232);
    border-color: rgb(48, 144, 234);
    color: white;
    font-weight: bold;
}

.threeOptionsDiv {
    position: absolute;
    top: 35px;
    left: 0px;
    width: 130px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    border: 1px solid rgb(208, 207, 207);
    background-color: white;
    border-radius: 7px;
    list-style: none;
    color: black;
}

.fourOptionsDiv {
    position: absolute;
    top: 35px;
    left: 0px;
    width: 130px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    border: 1px solid rgb(208, 207, 207);
    background-color: white;
    border-radius: 7px;
    list-style: none;
    color: black;
}

.option {
    padding: 5px;
    font-weight: 100;
}

.option:hover {
    background-color: rgb(240, 241, 244);
    border-bottom: rgb(214, 140, 4) solid 2px;
    font-weight: bold;
}

@media (max-width: 500px) {
    .selectedOption,
    .threeOptionsDiv,
    .fourOptionsDiv {
        width: max(76px, 25vw);
    }
}

@media (max-width: 400px) {
    .dropdownIcon {
        top: -5px;
        right: -3px;
    }
}