.searchBar {
    margin: 7.5vh 20vh;
}

.postsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: repeat(auto-fill, 350px);
    list-style: none;
    margin: 0 5vw 5vh 5vw;
    margin-top: 0;
    margin-bottom: 5vh;
    margin-right: clamp(50px, 10vw, 600px);
    margin-left: clamp(50px, 10vw, 600px);
    row-gap: 80px;
    align-items: start;
    justify-content: center;
}