.filters {
    outline: orchid solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-right: clamp(50px, 10vw, 600px);
    margin-left: clamp(50px, 10vw, 600px);
}

.searchBar {
    all: unset;
    font-size: 14px;
    border: 1px solid;
    background-color: white;
    border-color: rgb(208, 207, 207);
    border-radius: 7px;
    padding: 5px;
    height: 35px;
}

.postsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: repeat(auto-fill, 350px);
    list-style: none;
    margin-top: 0;
    margin-bottom: 5vh;
    margin-right: clamp(50px, 10vw, 600px);
    margin-left: clamp(50px, 10vw, 600px);
    row-gap: 80px;
    align-items: start;
    justify-content: center;
}

.NoPostsFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 24px;
}